[submodule "plugins/win-dshow/libdshowcapture"]
	path = deps/libdshowcapture/src
	url = https://github.com/obsproject/libdshowcapture.git
[submodule "plugins/obs-browser"]
	path = plugins/obs-browser
	url = https://github.com/rbariviera/obs-browser.git
	branch = adu
[submodule "plugins/obs-plugin-countdown-adu"]
	path = plugins/obs-plugin-countdown-adu
	url = https://github.com/rbariviera/obs-plugin-countdown-adu.git
	branch = main
[submodule "plugins/obs-websocket"]
	path = plugins/obs-websocket
	url = https://github.com/obsproject/obs-websocket.git
